<div style="height:360px" class="d-flex justify-content-center align-items-center flex-column w-100 bg-dark text-light">
    <div class="d-flex justify-content-around w-100 mt-4 mb-2 ps-4 pe-4 p-2">
        <div class="about w-25">
            <h3 class="mb-3">Style Guri</h3>
            <p class="mb-3">
                Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Aliquam atque <br> animi ab ipsa rem, laudantium <br> laboriosam nam id similique commodi, <br> vel aliquid quod voluptate rerum <br> nisi eius ut tenetur eum.
            </p>
            <p >
                code licensed MIT,docs CC BY 3.0.
            </p>
            <p >
                Currently V5.3.2.
            </p>
        </div >
        <div class="help">
            <h3 class="mb-3">Help</h3>
           <div class="d-flex flex-column mt-3">
                <a routerLink="">Home</a>
                <a routerLink="/wishlist">Wishlist</a>
                <a routerLink="/cart">Cart</a>
           </div>

        </div>
        <div class="address">
            <h3>Register Address</h3>
            <p>Manhattan PO</p>
            <p>Near Center Square</p>
            <p>679066</p>
        </div>
        <div class="contact">
            <h3>Contact Us</h3>
            <div className='d-flex'>
                <input placeholder='Enter Your Mail' type="text" className="form-control" />
                <button class='btn btn-warning ms-2'><i class="fa-solid fa-arrow-right "></i></button>
              </div>
              <div class="d-flex justify-content-between mt-3">
              <i style="height: 55px;" class="fa-solid fa-envelope fa-2x"></i>
              <i  class="fa-brands fa-twitter fa-2x"></i>
              <i class="fa-brands fa-github fa-2x"></i>
              <i  class="fa-brands fa-facebook fa-2x"></i>
              <i sclass="fa-brands fa-instagram fa-2x"></i>
              <i class="fa-brands fa-linkedin fa-2x"></i>
              </div>
        </div>
    </div>
    <p class="fw-bolder">All Rights Reserved &copy; Style Guri &reg; 2024</p>
</div>
